.bg_btn {
  background: #000;
  border: 3px solid #FFF;
  color: #FFF;
  transition: .5s, transform 0.3s cubic-bezier(0.4,0,0.2,1);
  padding: 8px 35px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bg_btn:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 15%;
  height: 30px;
  border-radius: 50%;
  background: #22D3A0;
  transform-origin: 100% 50%;
  transform: scale3d(1, 2, 1);
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}

.bg_btn:hover::before {
  transform: scale3d(9, 9, 1);
}

.bg_btn:hover,
.bg_btn:focus {
  color: #000;
  border-color: #22D3A0;
  background: #22D3A0;
  transform: scale(1.07);
} 